<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobremi">Sobre Mi</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="inicio">
        <div class="inicio-container">
            <div class="perfil">
                <img src="/img/foto-cara.png" alt="Mi Foto">
            </div>
            <div class="perfil-texto">
                <h1>Luigi Sebastian Teodoro Caldas</h1>
                <p>Soy un programador apasionado por el desarrollo de soluciones tecnológicas innovadoras. Estoy comenzando mi carrera en la programación y me especializo en Python, JavaScript, HTML/CSS, etc. Me gusta enfrentar nuevos retos y siempre estoy buscando oportunidades para seguir aprendiendo y mejorar mis habilidades. En este portafolio podrás ver algunos de mis proyectos más recientes, que reflejan mi dedicación y ganas de seguir creciendo en el mundo de la programación.</p>
            </div>
        </div>
        <div class="vl"></div>
    </section>
    
    <section id="habilidades">
        <h2>Habilidades</h2>
        <div class="skill">
            <p class="skill-name">HTML </p>
            <div class="progress-bar"><div class="progress" style="width: 95%;">95%</div></div>
        </div>
        <div class="skill">
            <p class="skill-name">CSS </p>
            <div class="progress-bar"><div class="progress" style="width: 85%;">85%</div></div>
        </div>
        <div class="skill">
            <p class="skill-name">JavaScript </p>
            <div class="progress-bar"><div class="progress" style="width: 65%;">65%</div></div>
        </div>
        <div class="skill">
            <p class="skill-name">Python </p>
            <div class="progress-bar"><div class="progress" style="width: 55%;">55%</div></div>
        </div>
        <div class="skill">
            <p class="skill-name">Node.js</p>
            <div class="progress-bar"><div class="progress" style="width: 55%;">55%</div></div>
        </div>
    </section>
    
    <section id="proyectos">
        <h2>Proyectos</h2>
        <a href="https://github.com/Luigi-Teodoro/ERROR_RELOAD">
            <img src="/img/proyecto.jpg" alt="Reload">
        </a>
    </section>
    
    <section id="contacto">
        <h2>Contacto</h2>
        <div class="contact-container">
            <img src="/img/contacto.png" alt="Contacto">
            <div class="social-icons">
                <a href="https://www.facebook.com/tuperfil" target="_blank"><img src="/img/facebook-icon.png" alt="Facebook"></a>
                <a href="https://www.twitter.com/tuperfil" target="_blank"><img src="/img/twitterx-icon.png" alt="Twitter"></a>
                <a href="https://github.com/Luigi-Teodoro/portafolio" target="_blank"><img src="/img/github-icon.png" alt="github"></a>
                <a href="https://www.linkedin.com/in/tuperfil" target="_blank"><img src="/img/linkedin-icon.png" alt="LinkedIn"></a>
            </div>
        </div>
    </section>
</body>
</html>