<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido!</title>
    <link rel="stylesheet" href="bienvenido.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#home"><img src="img/hitaloco.png" alt="Inicio"></a></li>
            <li><a href="#about">Acerca de</a></li>
            <li><a href="#projects">Proyectos</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
    <div>
        <h1>Luigi Teodoro Caldas</h1> 
        <p>Soy un programador apasionado por la tecnología y la resolución de problemas.  Me especializo en Python, JavaScript y desarrollo web, y siempre busco   nuevos desafíos para seguir aprendiendo. En este portafolio encontrarás mis proyectos más recientes, reflejo de mi dedicación y crecimiento en la programación.</p> 
    </div>
</body>
</html>