<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi</title>
    <link rel="stylesheet" href="sobre_mi.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/sobremi">Sobre Mi</a></li>
                <li><a href="/">Habilidades</a></li>
                <li><a href="/">Proyectos</a></li>
                <li><a href="/">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>📌 Quién soy</h1>
        <p>Soy Luigi Teodoro Caldas un programador principiante y actualmente me encuentro estudiante cibersegurida y me destacan mis atributos como ser una persona puntual, responsable y comprometida con mi desarrollo profesional. Me apasiona la tecnología y el aprendizaje continuo, especialmente en el mundo de la programación y la ciberseguridad.</p>
        <img src="/img/programacion1.png" alt="Foto de referencia">
    </section>
    <section>
        <h1>🎥 Experiencia</h1>
        <p>Tengo experiencia como editor de video, donde desarrollé habilidades en creatividad y atención al detalle. Actualmente, estoy estudiando ciberseguridad, explorando nuevas formas de proteger sistemas y datos en el entorno digital.</p>
        <img src="/img/programacion2.png" alt="Foto de referencia">
    </section>
</body>
</html>